<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <title>Интернет-магазин OZON.ru</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col">
            <h1>Ozon</h1>
            <form>
                <div class="form-row">
                    <div class="col">
                        <label for="search">Поиск книг по названию, автору или #тэгу</label>
                        <input name="search" class="form-control" type="search" value="{{search}}"
                               placeholder="Искать на Ozon" required>
                    </div>
                </div>
                <button type="submit" class="btn btn-info">Искать</button>
                <div>
                    <h5>Книги</h5>
                </div>


            </form>

            <ul class="list-group list-group-flush"> <!-- mt-x добавляет вертикальный отступ -->
                {% for book in books %}
                <li class="list-group-item">
                    <a href="{{ url_for('book_details', book_id=book.id) }}">"{{book.title}}", Автор: {{book.author}},
                        Цена: {{book.price}} руб.,</a>

                        {% for tag in book.tags %}
                        <a href="{{ url_for('book_details', book_id=book.id) }}">{{ tag }}</a>
                        {% endfor %}

                </li>
                {% endfor %}
            </ul>


            {% if not books %}
            <p>Книга не найдена. Попробуйте еще раз</p>
            {% endif %}
            <div class="mt-2">
                <a href="{{ url_for('book_edit', book_id='new') }}" class="btn btn-info">Добавить новую книгу</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>